@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-weight: bold;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  min-width: 1200px;
}

.navigation-item a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.wrapper h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.wrapper h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.wrapper h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  position: relative;
  z-index: 2;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0 72px;
}

.navigation-item {
  float: left;
  width: 240px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: left;
}

.navigation-item:last-child {
  float: right;
  text-align: right;
  padding-right: 3px;
}

.navigation-item:nth-child(3) {
  float: right;
  text-align: right;
}

.navigation-item a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.navigation-item-active a {
  color: #766357;
}

.navigation-item a:hover {
  color: #81b3d2;
}

.navigation-item-active a:hover {
  color: #766357;
}

.navigation-item a:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-item-active a:active {
  color: #766357;
  opacity: 1;
}

.mini-logo {
  display: block;
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mini-logo img {
  width: 100%;
  height: 100%;
}

/* intro */

.wrapper img {
  display: block;
}

.intro {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  background: #81B3D2 url("../img/main-background.jpg") 50% 22% no-repeat;
  min-height: 508px;
  padding-top: 76px;
}

.intro-logo {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.intro-logo img {
  width: 100%;
  height: 100%;
}

.intro::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background: url("../img/main-pic-bottom.png") no-repeat;
  bottom: 0;
}

/* promo */

.promo {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.promo h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 450px;
  margin-bottom: 27px;
}

.promo p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  max-width: 500px;
}

/* reasons */

.reasons {
  background-color: #81b3d2;
}

.reasons-info {
  box-sizing: border-box;
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 20px;
}

.reasons-info h2 {
  width: 151px;
  margin: 0 auto;
}

.reasons-info span {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.reasons-info p {
  width: 285px;
  margin: 0 auto;
  line-height: 21px;
  font-size: 14px;
}

.reasons-image {
  background-color: #604e43;
  float: right;
  width: 800px;
  min-height: 256px;
}

.reasons-image img {
  width: 100%;
  height: 100%;
}

.reasons-bottom .reasons-info {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.reasons-bottom .reasons-image {
  float: left;
  width: 800px;
  min-height: 256px;
}

.reasons-bottom p {
  width: 305px;
}

/* features */

.features {
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-item {
  float: left;
  width: 400px;
  position: relative;
}

.features-top .feature-item {
  padding-top: 162px;
  padding-bottom: 82px;
}

.feature-item::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.feature-item-home::before {
  width: 75px;
  height: 72px;
  background-position: -237px -106px;
  top: 60px;
}

.feature-item-food::before {
  width: 74px;
  height: 70px;
  background-position: -143px -91px;
  top: 61px;
}

.feature-item-gift::before {
  width: 64px;
  height: 76px;
  background-position: -237px -10px;
  top: 56px;
}

.feature-item p {
  color: #333333;
  margin: 0 auto;
  line-height: 21px;
  max-width: 290px;
}

.feature-item h2 {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 140px;
}

.features-bottom .feature-item {
  background-color: #eeeeee;
  padding-top: 47px;
  padding-bottom: 60px;
}

.feature-item span {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 21px;
}

.features-bottom p {
  max-width: 275px;
}

/* form hotels */

.form-hotels {
  text-align: center;
  padding-top: 52px;
  position: relative;
}

.form-hotels span {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 27px;
  display: block;
}

.form-hotels a {
  display: block;
  text-decoration: none;
  background: #766357;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
  margin: 0 auto;
  cursor: pointer;
}

.form-hotels a:hover {
  background: #604e43;
}

.form-hotels a:active {
  background: #503e33;
  color: #766357;
}

.form-hotels p {
  width: 450px;
  margin: 0 auto;
  padding-bottom: 47px;
}

/* map */

.map {
  height: 748px;
}

.sedona-map {
  position: relative;
  width: 1200px;
  height: 593px;
}

.sedona-map img {
  width: 100%;
  height: 100%;
}

.sedona-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

/* footer */

.main-index {
  position: relative;
}

.main-footer {
  text-align: center;
  background-color: rgba(254, 254, 254, 0.9);
  font-size: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-index {
  position: absolute;
  bottom: 0;
}

.sedona {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.sedona a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

.social {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  text-align: center;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

a:active::before {
  opacity: 0.3;
}

.social-btn::before {
  content: "";
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -142px -198px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -143px -52px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -179px -198px;
}

.footer-copyright {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  margin-right: 8px;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat -10px -10px;
  width: 113px;
  height: 39px;
  -webkit-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.footer-copyright a:hover {
  background-position: -10px -69px;
}

.footer-copyright a:active {
  background-position: -10px -128px;
}

/* modal form */

.modal-content {
  display: none;
  position: absolute;
  text-align: left;
  z-index: 3;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  box-sizing: border-box;
  width: 568px;
  padding: 53px 56px;
  color: #000000;
  background: #ffffff;
}

.people {
  font-size: 0;
}

.book-field {
  margin-bottom: 27px;
  font-size: 0;
}

.book-field input {
  box-sizing: border-box;
  margin: 0;
  padding: 6px 12px;
  padding-right: 40px;
  background: #f2f2f2;
  border: 2px solid #F2F2F2;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  min-height: 41px;
}

.book-field input:hover {
  background: #ebebeb;
  cursor: pointer;
}

.book-field input:focus {
  background: transparent;
}

.book-controls {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 346px;
}

.book-controls button {
  font-size: 0;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0 -329px;
  border: none;
  background-color: transparent;
}

.book-field label {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  width: 110px;
}

.people {
  font-size: 0;
}

.people .book-field {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.controls {
  display: inline-block;
  vertical-align: middle;
  width: 117px;
  position: relative;
}

.controls button {
  display: inline-block;
  vertical-align: middle;
  background-color: #F2F2F2;
  border: none;
  width: 39px;
  height: 41px;
  cursor: pointer;
}

.controls input {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #F2F2F2;
  width: 38px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  padding: 6px;
}

.book-field-kids label {
  padding-left: 50px;
  width: 61px;
}

.icon-minus::before {
  content: "";
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  left: 21px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-position: 0 -501px;
}

.icon-plus::before {
  content: "";
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 19px;
  left: 98px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 11px;
  background-position: 0 -586px;
}

.book-find {
  text-align: center;
  display: block;
  text-decoration: none;
  background: #81b3d2;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 19px;
  width: 100%;
  margin: 0 auto;
  margin-top: 26px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.book-find:hover {
  background: #669ec0;
}

.book-find:active {
  background: #5496bd;
  color: #81b3d2;
}

.icon-minus:hover::before {
  background-position: 0 -455px;
}

.icon-minus:active::before {
  background-position: 0 -478px;
}

.icon-plus:hover::before {
  background-position: 0 -524px;
}

.icon-plus:active::before {
  background-position: 0 -555px;
}

.calendar:hover {
  background-position: 0 -245px;
  cursor: pointer;
}

.calendar:active {
  background-position: 0 -287px;
}

.modal-content {
  display: none;
}

.modal-content-show {
  display: block;
}

/* hotels */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filters-left {
  margin-right: 94px;
}

.filters-group legend {
  margin-bottom: 14px;
  line-height: 21px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filters-checkox label {
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}

.filters-checkox {
  margin-bottom: 26px;
}

.filters {
  background: #604e43 url("../img/catalog-background.jpg") 50% 22% no-repeat;
  padding-top: 27px;
  padding-bottom: 7px;
  padding-left: 71px;
  padding-right: 60px;
}

.filters-left {
  float: left;
  width: 160px;
  min-height: 155px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -143px -10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 26px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -185px -10px;
}

input[type="checkbox"]:disabled + label::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0 -371px;
}

input[type="checkbox"]:disabled:checked + label::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0 -413px;
}

.filters-center {
  float: left;
  width: 160px;
  min-height: 155px;
}

.filters-right {
  float: right;
  width: 340px;
  min-height: 155px;
}

.filters-right legend {
  margin-bottom: 10px;
}

.price-wrap {
  padding: 0 11px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 64px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  min-height: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  padding-top: 6px;
  padding-right: 34px;
  padding-bottom: 5px;
  padding-left: 34px;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 95px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }
}

@keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }
}

.modal-content-show {
  display: block;
  -webkit-animation-name: show;
  animation-name: show;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-52%, 100%);
    transform: translate(-52%, 100%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-48%, 100%);
    transform: translate(-48%, 100%);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-52%, 100%);
    transform: translate(-52%, 100%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-48%, 100%);
    transform: translate(-48%, 100%);
  }
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* found */

.found {
  padding-left: 71px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 73px;
}

.found .found-number {
  float: left;
  width: 135px;
}

.found-number {
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000000;
}

.found .found-sort {
  float: left;
  width: 90px;
  line-height: 18px;
  font-size: 12px;
  padding-top: 6px;
  padding-left: 30px;
}

.sort-list {
  font-size: 0;
  float: left;
  width: 400px;
  padding: 0;
  margin: 0;
}

.sort-item {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  font-size: 12px;
  padding-top: 6px;
}

.sort-item a {
  line-height: 18px;
  font-size: 12px;
  border-bottom: 1px dotted #81B3D2;
  color: #cacaca;
  margin-right: 33px;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item-active a {
  margin-left: 24px;
  text-decoration: none;
  color: #81b3d2;
  border-bottom: none;
}

.sort-list-direct {
  font-size: 0;
  float: right;
  width: 36px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
}

.sort-list-direct li:first-child {
  margin-right: 14px;
}

.sort-item a:active {
  border-bottom: none;
  color: #000000;
}

.sort-btn {
  display: inline-block;
  vertical-align: middle;
}

.sort-btn a {
  display: block;
}

.sort-btn-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #cccccc transparent transparent transparent;
}

.sort-btn-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cccccc transparent;
}

.sort-btn-up:hover {
  border-color: #000000 transparent transparent transparent;
}

.sort-btn-down:hover {
  border-color: transparent transparent #000000 transparent;
}

.sort-btn-up:active {
  border-color: #81b3d2 transparent transparent transparent;
}

.sort-btn-down:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.sort-btn-down.sort-btn-active {
  border-color: transparent transparent #81b3d2 transparent;
}

.sort-btn-up.sort-btn-active {
  border-color: #81b3d2 transparent transparent transparent;
}

/* catalog */

.catalog-item {
  padding: 30px 70px;
  border-top: #e5e5e5 solid 1px;
}

.catalog-item:last-child {
  border-bottom: #e5e5e5 solid 1px;
}

.item-img {
  float: left;
  width: 137px;
  height: 90px;
  padding-left: 2px;
  margin-right: 28px;
}

.item-img img {
  width: 100%;
  height: 100%;
}

.item-info {
  float: left;
  width: 400px;
}

.item-rate {
  float: right;
  width: 150px;
  position: relative;
  padding-top: 64px;
  text-align: right;
}

.item-rate::before {
  position: absolute;
  content: "";
  background: url("../img/spritesheet.png") no-repeat -10px -198px;
  width: 112px;
  height: 17px;
  top: 0;
  right: 0;
}

.item-rate span {
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #666666;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 15px;
  padding-bottom: 6px;
}

.star-5::before {
  width: 112px;
}

.star-4::before {
  width: 90px;
}

.star-3::before {
  width: 68px;
}

.star-2::before {
  width: 46px;
}

.star-1::before {
  width: 24px;
}

.item-type {
  font-size: 0;
}

.item-type span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  margin-right: 6px;
  margin-bottom: 14px;
  color: #333333;
}

.item-type span:last-child {
  margin-right: 0;
}

.item-info h3 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 7px;
}

.item-btns {
  font-size: 0;
}

.item-btns a {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 3px 16px;
  background: #81b3d2;
  margin-right: 8px;
  color: #ffffff;
}

.item-btns a:last-child {
  margin-right: 0;
  background: #766357;
}

.item-btn-left:hover {
  background: #669ec0;
}

.item-btn-left:active {
  background: #5496bd;
  color: #81b3d2;
}

.item-btns a:last-child:hover {
  background: #604e43;
}

.item-btns a:last-child:active {
  background: #503e33;
  color: #766357;
}

.item-info h3:hover {
  color: #81b3d2;
  cursor: pointer;
}

.item-info h3:active {
  color: #cacaca;
  cursor: pointer;
}
